@charset "utf-8";

body {
    background-color: rgb(192, 198, 238);
}

.header {
    background-color: rgb(175, 184, 238);
}
.header h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}

.content {
    background-color: rgb(192, 198, 238);
}
.content h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.content h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.content a {
    text-decoration: none;
    color: black;
    text-decoration-line: none;
}
.b {
    font-size: large;
}

.form {
    background-color: rgb(192, 198, 238);
    margin-bottom: 50px;
}
.form h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.footer {
    background-color: rgb(175, 184, 238);
    bottom: 0px;
    position: fixed;
    width: 100%;
}
.footer a {
    text-decoration: none;
    color: black;
    text-decoration-line: none;
}
.footer p {
    text-align: center;
}